
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Jeol</title>


</head>
<body>
    <div id="particles"></div>



    <section class="hero">
        <div class="container">
            <img src="assets/img/profile.jpg" alt="jeols logo" class="prof-img">
            <h1>PiRO</h1>
            <ul class="hero-links">
                <li><a target="_blank" href="https://telegram.dog/piroxbots"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <h2>Hi, I'm PiRO ❤️</h2>
            <h3>Nothing to be specifically noted about me.</h3>
        </div>
    </section>

</body>
</html>
